*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Arial,  sans-serif;

}

header{
    background-color: cornsilk;
    
    display: flex;
    justify-content:space-between;
    align-items: center; 
    padding: 30px;  
    color:#fff;
}

.logo{
    height: 44px;
}
header nav{
    display:flex;
    gap:15px;
}

main{
    display:flex;
    gap: 20px;
    padding: 20px;
}


.secao1{
    /*flex-grow:1;*/
    width: 70%;
    background-color: #f4f4f4;
    padding: 20px;
}

.secao2{
    padding: 20px;
    background-color: #ddd;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    background-color: #333;
    color:#fff;
    bottom:0;
    position: fixed;
}

footer p{
    margin:5px 0;
}